.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #f4efe5;
    color: #3e1911;
}
nav{
    background-color: #3e1911;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 60px;
    margin: 5px;
    border-radius: 50px;
}

footer{
    background-color: #3e1911;
    color: white;
}
.iconesNav{
    display: flex;
    align-items: center;
    gap: 10px;
}
#icone{
    display: flex;
    align-items: center;
}
#icone p{
    margin-bottom: 0px;
}
#icone img{
    width: 50px;
}
.iconesNav button{
    display: flex;
    border-style: none;
    background-color: #f4efe5;
    color: #3e1911;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}
.iconesNav a{
    text-decoration: none;
    color: #f4efe5;
}
.iconesNav svg{
    height: 40px;
    width: 40px;
}
#barraDePesquisa textarea{
    height: 40px;
    width: 30vw;
    resize: none;
    border-style: none;
    border-radius: 0px 10px 10px 0px;
    padding: 8px;
    overflow: hidden;
}
#barraDePesquisa button{
    border-style: none;
    width: 50px;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    transition: background-color 0.15s;
}
#barraDePesquisa button:hover{
    background-color: bisque;
}
#barraDePesquisa{
    display: flex;
}

/* aqui começa o que não e padrão por todas as paginas */
.conteudosDaMain{
    width: auto;
    display: flex;
    justify-content: center;
}
.textosDeLogin{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 500px;
    padding: 10px;
}
.textosEBotoes{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.textosEBotoes .botoes{
    display: flex;
    gap: 15px;
}
.textosEBotoes button{
    border-style: solid;
    border-radius: 5px;
    padding: 5px 30px;
    font-weight: bolder;
}
.textosEBotoes .logar{
    background-color: #3e1911;
    border-color: #3e1911;
    color: #f4efe5;
    border-width: 1px;
}
.textosEBotoes .Cadastrar{
    color: #3e1911;
    border-color: #3e1911;
    border-width: 1px;
}
.textosEBotoes h2{
    font-size: 105px;
    color: #3e1911;
    font-weight: 700;
}
.textosEBotoes p{
    font-weight: bold;
}
.textosDeLogin .image{
    transform: scaleX(-1);
}
/* footer */
.conteudosDoFooter{
    display: flex;
    margin: 50px;
    gap: 20px;
}
footer{
    display: flex;
    justify-content: center;
}
.conteudosDoFooter p{
    margin-bottom: 0;
}
.conteudosDoFooter h3{
    font-weight: bolder;
}
.botoesFooter button{
    border-radius: 200px;
    width: 40px;
    height: 40px;
    background: none;
    color: #f4efe5;
    border-style: solid;
    border-color: #f4efe5;
    font-size: 10px;
}
.informacoesContato{
    display: flex;
    flex-direction: column;
    align-items: center;
}